server:
  port: 9001
  tomcat:
    connection-timeout: 6000

htuoj:
  ip: http://localhost:8080

spring:
  #  main:
  #    web-application-type: reactive
  application:
    name: gateway
  cloud:
    nacos:
      server-addr:
    gateway:
      httpclient:
        pool:
          max-idle-time: 60000ms
      routes:
        - id: project # 路由规则id，自定义，唯一
          uri: lb://htuoj-project # 路由的目标服务，lb代表负载均衡，会从注册中心拉取服务列表
          predicates: # 路由断言，判断当前请求是否符合当前规则，符合则路由到目标服务
            - Path=/accept-status/**,/article/**,/award-info/**,/collect/**,/comment/**,/file/**,/follow/**,/label/**,/like/**,/problem/**,/problem-label-relations/**,/problem-solve/**,/problem-source-relations/**,/sample/**,/source/**,/submission/**,/task/**,/training/**,/training-problem/**,/user/**,/user-preferences/**,/contest/**,/ai/**,/notice/**,/contestRegister/**,/contestProblem/**,/contestAccept/**,/school/**,/search/**,/ws/**
        - id: dispatch
          uri: lb://htuoj-dispatch
          predicates:
            - Path=/dispatch/**
        - id: judge
          uri: lb://htuoj-judge
          predicates:
            - Path=/judge/**

  redis:
    host:
    port:
    password:
    lettuce:
      pool:
        # 连接池最大连接数
        max-active: 200
        # 连接池最大阻塞等待时间（使用负值表示没有限制）
        max-wait: -1ms
        # 连接池中的最大空闲连接
        max-idle: 10
        # 连接池中的最小空闲连接
        min-idle: 0

jwt:
  expire: 86400
  secret:


############## Sa-Token 配置 (文档: https://sa-token.cc) ##############
sa-token:
  # token 名称（同时也是 cookie 名称）
  token-name: satoken
  # token 有效期（单位：秒） 默认30天，-1 代表永久有效
  timeout: 2592000
  # token 最低活跃频率（单位：秒），如果 token 超过此时间没有访问系统就会被冻结，默认-1 代表不限制，永不冻结
  active-timeout: -1
  # 是否允许同一账号多地同时登录 （为 true 时允许一起登录, 为 false 时新登录挤掉旧登录）
  is-concurrent: true
  # 在多人登录同一账号时，是否共用一个 token （为 true 时所有登录共用一个 token, 为 false 时每次登录新建一个 token）
  is-share: false
  # token 风格（默认可取值：uuid、simple-uuid、random-32、random-64、random-128、tik）
  token-style: uuid
  # 是否输出操作日志
  is-log: true


